*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-weight: 100;
  color: #242424;
}
svg {
  cursor: pointer;
}
h1,
h2 {
  margin: 8px 0;
}
p {
  margin: 4px 0;
}
h2 {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 600;
}
a {
  text-decoration: none;
  color: black;
}
section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2px 0;
}

/* NAVBAR */

#navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}

.main {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 90px;
  min-height: 48px;
  border-bottom: 1px solid rgb(206, 206, 206);
  display: flex;
  gap: 1rem;
  /* background-color: rgb(157, 157, 255); */
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  /* background-color: chartreuse; */
}
.stockx-icon {
  fill: #006340;
  width: 125px;
  height: auto;
}
.search-bar {
  border: 1.5px solid rgba(27, 27, 27, 0.293);
  background-color: #fafafa;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: auto 0;
  border-radius: 8px;
  box-sizing: content-box;
  transition: 0.3s;
}
.search-bar svg {
  margin: 0 10px;
}
.search-bar input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  height: 44px;
  caret-color: #006340;
}
.search-bar:hover {
  border: 1.5px solid #4e4e4e;
  transition: 0.3s;
}
.search-bar:has(input:focus) {
  border: 1.525px solid #000000;
  box-shadow: 0 0 2px 0#000000;
}
.search-bar input::placeholder {
  color: #242424;
}
.search-bar input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  margin: 0px 30px 0 20px;
  font-weight: 400;
  gap: 10px;
  width: 485px;
}
.hamburger-menu > * {
  text-align: center;
  width: 100px;
  /* background-color: rgb(255, 220, 220); */
}
.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  /* cursor: pointer; */
}
.dropdown > a {
  z-index: 300;
}
.dropdown > div {
  display: none;
  background-color: #000000;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 30px 0 0 0;
  background: transparent;
  /* background-color: coral; */
}
.dropdown:hover > div,
.dropdown:hover div > div {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  transition: 2s;
}
.dropdown div div {
  border-radius: 80px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
  box-shadow: 0 0 5px 0 rgb(49, 49, 49);
  overflow: hidden;
}
.dropdown div a {
  width: 200px;
  transition: 0.2s;
  padding: 8px;
  background-color: #ffffff;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 10px;
}
.dropdown div a:hover {
  background-color: rgb(235, 235, 235);
  width: 200px;
  transition: 0.2s;
}
#login,
#sign-up{
  border: 1px solid;
  border-radius: 300px;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
}
#login {
  background-color: #ffffff;
  transition: 0.25s;
  width: 150px;
}
#sign-up {
  background-color: #242424;
  color: #ffffff;
  transition: 0.25s;
  width: 170px;
}
#login:hover,
#sign-up:hover {
  background-color: black;
  color: #ffffff;
  transition: 0.25s;
  cursor: pointer;
}

.extra {
  background: linear-gradient(to right, rgb(234, 234, 234), rgb(235, 235, 235));
  padding: 0 15px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.extra a {
  font-size: 18px;
  font-weight: 500;
  padding: 0 8px;
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 3px;
  white-space: nowrap; 
}

.extra a:hover {
  box-shadow: inset 0 -3px 0 #242424;
}

#theme , #theme-footer{
  position: fixed;
  border: 0.75px solid rgba(128, 128, 128, 0.219);
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 0 0 3px 0 rgba(56, 56, 56, 0.389);
  height: 56px;
  width: 56px;
  bottom: 20px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

#theme:hover {
  cursor: pointer;
}

/* CONTENT */
.content {
  margin: 160px auto 20px auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 100%;
  max-width: 1246px; 
  gap: 15px;
  padding: 0 16px; 
}
.slide {
  position: relative;
  display: flex;
  align-self: center;
  cursor: pointer;
}
.slide img {
  width: 100%;
  max-width: 1264px;
  border-radius: 20px;
}
.slide button {
  position: absolute;
  top: 50%;
  border: none;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #242424;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.left {
  left: 30px;
}

.right {
  right: 30px;
}

.text-icon {
  display: flex;
  align-items: center;
  position: relative;
  /* background-color: #56ffc4; */
  gap: 3px;
}

.item-box {
  /* background-color: rgb(174, 174, 205);  */
  display: grid;
  grid-template-columns: repeat(6, minmax(140px, 1fr));
  gap: 25px;
}
.item {
  /* border: 1px solid rgb(255, 255, 255); */
  width: 100%;
  cursor: pointer;
}
.item-img {
  width: 100%;
  max-width: 180px;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1 1 160px; 
  max-width: 200px; 
  padding: 16px;
  /* background-color: rgb(255, 4, 4); */
}
.item-img img {
  width: 140px;
}
.heart-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.detail {
  padding: 8px;
  line-height: 1.3;
}
.detail button{
  display: none;
  border: 1px solid;
  border-radius: 300px;
  width: 80px;
  height: 30px;
  font-weight: 600;
  font-size: 14px;
  margin: 10px 0 0 0;
}
.detail p {
  margin: 0;
}
.detail span {
  display: flex;
  margin: 4px 0;
}
.title {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ask {
  font-size: 12px;
  color: #5f5f5f;
  /* background-color: #98e9fd; */
}
.price {
  color: #242424;
  font: 20px sans-serif;
  font-weight: 700;
  /* background-color: #ffec82; */
}
.ship , .sold{
  background-color: #f3f2f1;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  width: 100%;
}
.ship{
  max-width: 100px;
}
.sold{
  max-width: 70px;
}
div.ship {
  padding: 2px;
}

.brand-box,
.steals-box {
  display: grid;
  gap: 16px;
}
.brand-box {
  grid-template-columns: repeat(5, minmax(140px, 1fr));
}
.steals-box,
.release-box {
  grid-template-columns: repeat(6, minmax(140px, 1fr));
}
.brand-box img,
.steals-box img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
}

.see-all * {
  fill: #006340;
}
.see-all {
  color: #006340;
  float: right;
  font-size: 14px;
  display: flex;
  position: absolute;
  right: 0;
  gap: 4px;
  cursor: pointer;
  font-weight: 600;
}

.big-picture {
  width: 100%;
  display: flex;
  gap: 2.5vw;
}
.big-picture img {
  border-radius: 20px;
  width: 100%;
}

.release-box {
  display: grid;
  color: #242424;
  gap: 24px;
}
.release-box > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(129, 129, 129, 0.427);
  border-radius: 15px;
  padding: 8px 16px;
  cursor: pointer;
  /* background-color: burlywood; */
}
.release-box div > * {
  margin: 8px 0;
}
.release-box h2 {
  position: relative;
  align-self: start;
  font-weight: 100;
  width: 100%;
  font: 24px serif;
  margin-top: 16px;
  /* background-color: rgb(197, 255, 236); */
}
.release-box .heart-icon {
  position: static;
  float: right;
}
.release-box img {
  width: 100%;
  max-width: 156px;
  padding: 8px 0;
  /* background-color: rgb(210, 162, 255); */
  /* border: 1px solid red; */
}
.release-box p {
  /* background-color: rgb(255, 178, 194); */
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.25;
}

.section-ig-slide {
  position: relative;
  /* background-color: #ca8a01; */
}
.ig-slide {
  display: flex;
  overflow: hidden;
  gap: 10px;
  margin: 18px 0 0 0;
  border-radius: 20px;
  /* background-color: rgb(150, 190, 111); */
}
.ig-slide button {
  position: absolute;
  top: 51%;
  right: -20px;
  width: 45px;
  height: 45px;
  border: none;
  background-color: #242424;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  z-index: 10;
}
.ig-slide > div {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.ig-slide a,
.ig-slide p {
  position: absolute;
  color: #ffffff;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.ig-slide a {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 22.5px;
  padding: 10px 20px;
  transition: 0.2s;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

.ig-slide p {
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.ig-slide a:hover {
  background-color: #ffffff;
  transition: 0.2s;
  color: #242424;
}

.ig-slide img {
  /* width: 100%; */
  max-width: 280px;
  border-radius: 10%;
  transition: 0.2s;
}

.ig-slide > div {
  position: relative;
}

.ig-slide > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: 0.2s;
  border-radius: 30px;
  z-index: 2;
}

.ig-slide > div:hover::after {
  background: rgba(0, 0, 0, 0.5);
}

.ig-slide > div:hover a,
.ig-slide > div:hover p {
  opacity: 1;
}

.ig-slide a:hover ~ img {
  filter: brightness(0.5);
}

.Magazine-title{
  display: flex;
  font-size: 24px;
  font-weight: 400;
  margin: 1em 0;
  position: relative;
}
.Magazine-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 15px;
}
.Magazine-box img {
  width: 100%;
  height: 100%;
  max-height: 178px;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.Magazine-box .img-container{
  overflow:hidden ;
}
.Magazine-box > div{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #fafafa;
  border: 0.4px solid rgba(71, 71, 71, 0.46);
  cursor: pointer;
}
.Magazine-box div div+div {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.Magazine-box h2 {
  font-size: 16px;
  margin: 0 0 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* background-color: cyan; */
}
.Magazine-box p {
  font-size: 14px;
  color: #5f5f5f;
  display: flex;
  align-items: center;
  gap: 4px;
width: 100%;
  /* background-color: darksalmon; */
}
.Magazine-box span {
  font-size: 20px;
}
/* HELP */

.help {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}
.help svg {
  height: 32px;
  width: 32px;
}
.help * {
  color: #ffffff;
  fill: #ffffff;
  font-size: 12px;
  /* border: 1px solid green; */
  margin: 0 0 10px 0;
}
.help a {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.help > div {
  background-color: #393939;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  display: flex;
}
.help h1 {
  font-weight: 750;
}
.help div div {
  margin: 8.5px 0 0 10px;
  /* background-color: #ea9090; */
}

/* FOOTER */

footer > div{
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-box{
  width: 100%;
  max-width: 1246px;
  /* border: 3px solid rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
}
.top-footer {
  margin: 0 auto;
  padding-top: 4px;
  background-color: #ededed;
  /* border: 1px solid red; */
  /* background-color: darkorchid; */
}
.grid-box{
  /* background-color: chocolate; */
  display: flex;
  flex-direction: column;
}
.footer-box > h1 {
  font: 32px serif;
  margin: 20px 0;
  /* background-color: aqua; */
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.footer-grid h1 {
  font-size: 14px;
  margin: 0 0 12px 0;
}
.footer-box a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.grid-box a {
  font-size: 12px;
  margin: 0 0 12px 0;
  line-height: 1.25;
  font-weight: 100;
}

.bottom-footer {
  background-color: #f4f3f1;
  margin: 0 auto;
  width: 100%;
  padding: 32px 0;
}
.bottom-footer.footer-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top-line {
  display: flex;
  justify-content: space-between;
  /* background-color: cornflowerblue; */
  align-items: center;
}
.download {
  display: flex;
  align-items: center;
  gap: 35px;
  margin: 1rem 0;
}
.download img {
  width: 100%;
  max-width: 272px;
}
.USD {
  align-self: start;
  border: 1px solid;
  border-radius: 300px;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  transition: 0.25s;
}
.USD:hover {
  background-color: black;
  color: #ffffff;
  transition: 0.25s;
  cursor: pointer;
}
.contact {
  gap: 15px;
  display: flex;
  /* background-color: brown; */
}
.footer-logo {
  /* border: 1px solid rgb(154, 172, 255); */
  display: flex;
}
.credit {
  font-size: 12px;
  justify-content: center;
}
.credit p{
  display: inline;
}
.credit * {
  padding: 0 4px;
}
.language {
  display: flex;
  flex-wrap:wrap ;
  justify-content: center;
  gap: 10px;
  font-size: 12px;
  /* background-color: darkorange; */
}

/* RESPONSIVE */

#search-icon,#hamburger-icon {
  display: none;
}
.drop-icon {
  display: none;
}
.new-article{
  display: none;
}
.Magazine-box hr{
  display: none;
}

.display-2{
  display: none;
}
.footer-box > hr{
  display: none;
}
.footer-logo img,.footer-logo p{
  display: none;
}

@media screen and (max-width: 1190px) {
  .item-box,
  .release-box,
  .brand-box,
  .steals-box,
  .big-picture,
  .ig-slide {
    overflow-x: scroll;
  }
.footer-grid {
  gap: 0.4rem;
}
.top-footer {
  padding: 0 10px;
}
}

@media screen and (max-width: 990px) {
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .download {
    justify-content: center;
  }
}

@media screen and (max-width: 915px) {
  
  .main {
    align-items: center;
    justify-content: space-between;
    margin: 0 4px;
  }
  .hamburger-menu,
  .search-bar {
    display: none;
  }

  #search-icon,
  #hamburger-icon {
    display: block;
    width: 50px;
    cursor: pointer;
  }
  #search-icon {
    order: 1;
  }
  #hamburger-icon {
    order: -1;
  }
  .bottom-footer .footer-box {
    gap: 1vh;
  }
  .top-line{
    flex-direction: column;
    position: relative;
    gap: 1.25vh;
  }
  .footer-logo svg{
    position: absolute;
    left: 0.5vw;
    top: 0.5vh;
  }
  .extra{
    justify-content: start;
    overflow-x:scroll ;
  }
}
@media screen and (max-width: 800px) {
  .extra a{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
}
@media screen and (max-width: 767px) {
  .help {
    flex-direction: column;
    justify-content: center;
    gap: 2px;
  }
  .slide button{
    display: none;
  }
  .Magazine-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .Magazine-box >div {
    flex-direction: row;
    border: none;
    border-radius: none;
    background-color: #FFFFFF;
    /* border-top: 0.5px solid rgba(58, 58, 58, 0.318); */
  }
  .Magazine-box hr{
    display: block;
    background-color: #8f8f8f82;
    height: 0.5px;
    border: none;
  }
  .Magazine-box .img-container {
    border-radius: 15px;
    width: 100%;
    min-width: 120px;
    max-width: 250px;
    height: 100%;
    min-height: 10px;
    max-height:130px ;
  }
  .Magazine-box img{
    border-radius: 0px;
  }
  .Magazine-box div div+div  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  .new-article{
    display: block;
    border: 1px solid;
    border-radius: 300px;
    background-color: #FFFFFF;
    height: 36px;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    margin: 18px 0 0 0;
    transition: 0.25s;
  }
  .new-article:hover{
    background-color: black;
    color: #ffffff;
    transition: 0.25s;
    cursor: pointer;
  }
  .Magazine-title .see-all{
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .footer-grid {
    display: flex;
    flex-direction: column;
  }
  .footer-grid a {
    display: none;
  }
  .footer-grid h1 {
    display: block;
  }
  .bottom-footer {
    flex-direction: column;
  }
  .footer-logo svg{
    position: static;
  }
  
  .footer-grid {
    gap: 8px;
  }
  .grid-box {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .grid-box a{
    margin: auto;
  }
  .drop-icon {
    display: block;
    width: 16px;
    rotate: 180deg;
    cursor: pointer;
  }
  .top-footer{
    flex-direction: column;
  }
  .display-2 {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  #theme-footer{
    position: static;
    height: 45px;
    width: 45px;
    z-index: 0;
  }
  .top-line .USD{
    display: none;
  }
  #theme,.download{
    display: none;  
  }
  .footer-box > hr{
    margin: 10px 0;
    display: block;
  }
  .bottom-footer{
    padding-top: 0;
  }
    .ig-slide button{
    display: none;
  }
}

/* MOBILE */

@media screen and (max-width: 500px) {
  .slide img{
    border-radius: 0px;
  }
.ig-slide img{
  max-width: 212px;
}
.main{
  height: 46px;
}
#search-icon,
#hamburger-icon {
  width: 28px;
  margin:0 5px
}
#logo {
  scale: 0.75;
}
  .content{
  padding: 0 8px;
  margin: 110px auto 5px auto;
}
.big-picture a+a{
  display: none;
}
.Magazine-box{
  overflow: hidden;
}
.Magazine-box .img-container {
  align-self: center;
  justify-self: center;
  margin: 10px;
  width: 100%;
  max-width: 150px;
  height: 88px;
}
.Magazine-box h2{
  font-size: 13px;
  -webkit-line-clamp: 2;
}
.download span {
  display: none;
}.footer-logo{
  flex-direction: column;
  align-items: center;
}
.footer-logo{
  background-color: #EDEDED;
  width: 100%;
  margin:0 0 50px 0
}
.footer-logo img{
display: block;
width: 100%;
max-width: 290px;
}
.footer-logo p{
display: block;
}
.credit{
  padding: 0 10px;
  margin: 10px 0;
}
.credit *{
  text-align: center;
}
.detail button{
  display:block;}
  .extra a{
    font-size: 16px;
    font-weight: 500;
    padding: 0;
  }
  .extra{
    gap: 16px;
  }
  .credit p{
display: block;
}
.language{
padding: 0 20px ;
}
}